[Unit]
Description=VMware USB Arbitration Service. Allows USB devices plugged into the HOST to be usable by the guest.

[Service]
EnvironmentFile=/etc/vmware/bootstrap
Type=simple
ExecStart=/usr/bin/vmware-usbarbitrator -f
ExecStop=/usr/bin/vmware-usbarbitrator --kill

[Install]
WantedBy=multi-user.target
