[Unit]
Description=Xbox controller driver daemon
Documentation=man:xboxdrv(1)

[Service]
Type=dbus
User=root
BusName=org.seul.Xboxdrv
ExecStart=/usr/bin/xboxdrv -c /etc/xboxdrv/xboxdrv.conf --daemon --dbus system

ProtectSystem=strict
TemporaryFileSystem=/etc:ro
BindReadOnlyPaths=-/etc/xboxdrv/xboxdrv.conf
#BindReadOnlyPaths=-/etc/ld.so.preload
#BindReadOnlyPaths=-/etc/ld.so.cache
BindReadOnlyPaths=-/etc/system-fips
BindReadOnlyPaths=-/etc/selinux/config

ProtectControlGroups=true
PrivateTmp=true
PrivateDevices=false

ProtectHome=true
#TemporaryFileSystem=/home:ro
#BindReadOnlyPaths=-/path/to/xboxdrv.conf

IPAddressDeny=any
RestrictAddressFamilies=AF_UNIX AF_NETLINK
MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictRealtime=true
RestrictSUIDSGID=true
NoNewPrivileges=true
CapabilityBoundingSet=
LockPersonality=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
LimitMEMLOCK=0

[Install]
WantedBy=multi-user.target
Alias=dbus-org.seul.Xboxdrv.service
