[Unit]
Description=Xbox controller driver daemon
Documentation=man:xboxdrv(1)

[Service]
Type=dbus
User=root
BusName=org.seul.Xboxdrv
ExecStart=/bin/xboxdrv -c /etc/xboxdrv/xboxdrv.conf --daemon --dbus system

[Install]
WantedBy=multi-user.target
Alias=dbus-org.seul.Xboxdrv.service
