/* Chinforpms 20251127 */
/* libadwaita-chinfo */

.default-decoration.titlebar:not(headerbar), headerbar.default-decoration {
  min-height: 0px;
  padding: 1px;
}

.default-decoration.titlebar:not(headerbar) button.titlebutton, headerbar.default-decoration button.titlebutton {
  min-height: 0px;
  min-width: 0px;
  margin: 0;
  padding: 1px;
}

.titlebar, .titlebar .background, decoration, window, window.background {
  border-radius: 0;
}

headerbar, headerbar arrow, headerbar box, headerbar button, headerbar contents, headerbar entry, headerbar image, headerbar menubutton, headerbar slider, headerbar splitbutton, headerbar trough, headerbar windowtitle {
  border: 0;
  margin: 0;
  min-height: 0;
}

window headerbar {
  margin-left: -1px;
  margin-right: -1px;
}

button,
button.titlebutton,
button.image-button,
button.text-button,
button.image-button.text-button,
.stack-switcher > button.text-button {
  padding: 3px 6px;
  min-height: 20px;
  min-width: 0;
}

.stack-switcher > button.text-button {
  min-width: 80px;
}

button.text-button.image-button label {
  padding: 0 2px;
}

notebook > header.top tab,
notebook > header.bottom tab {
  padding: 0 5px;
}
notebook > header.left tab,
notebook > header.right tab {
  padding: 0 8px;
}
notebook tab button {
  padding: 0px;
  min-height: 15px;
}

entry,
spinbutton:not(.vertical) {
  min-height: 22px;
  padding: 1px 2px 1px 2px;
}

treeview button {
  padding: 0 7px;
  min-height: 23px;
}

scale {
  padding: 10px 0;
}

popover:not(.emoji-picker) > *:not(grid) {
  margin: -3px;
}

tooltip * {
  padding: 0px;
}

placessidebar row {
  min-height: 20px;
  padding: 0px;
}

placessidebar row button.sidebar-button {
  min-height: 20px;
  min-width: 20px;
  padding: 0px;
}

filechooser > box.search-bar, filechooser > box:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
filechooser > actionbar > revealer > box {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

* {
  -gtk-icon-style: regular;
}

messagedialog > box {
  padding: 7px;
}
messagedialog buttonbox {
  margin-top: -17px;
}

menu, .menu, .context-menu, tooltip {
  border-radius: 0;
}

.background:not(.csd):not(.solid-csd) .titlebar:not(.default-decoration),
.background:not(.csd):not(.solid-csd) .titlebar:not(.default-decoration) headerbar {
  background: inherit;
}

entry undershoot.left,
entry undershoot.right,
spinbutton:not(.vertical) undershoot.left,
spinbutton:not(.vertical) undershoot.right,
scrolledwindow undershoot.left,
scrolledwindow undershoot.right,
scrolledwindow undershoot.top,
scrolledwindow undershoot.bottom {
  background-image: none;
}

/* Put back scrolbar steppers that Adwaita removed */
scrollbar {
  background-image: none;
  border-style: solid;
}

statusbar {
  margin: -4px -5px -3px -5px;
}

switch slider {
  min-height: 1px;
  min-width: 1px;
  padding: 0;
}

toolbar.primary-toolbar {
  padding: 1px;
}
