[Desktop Entry]
Name=Ario
GenericName=Ario music player
GenericName[ar]=عازف الموسيقى
GenericName[ca]=RE
GenericName[cs]=Ario hudební přehrávač
GenericName[da]=Ario musikafspiller
GenericName[de]=Ario Musikspieler
GenericName[en_AU]=Ario music player
GenericName[en_CA]=Ario music player
GenericName[en_GB]=Ario music player
GenericName[eo]=Ario muzika ludilo
GenericName[es]=Reproductor de música Ario
GenericName[et]=Ario music player
GenericName[fi]=Ario-musiikkisoitin
GenericName[fr]=Lecteur de musique Ario
GenericName[ga]=Seinnteoir ceoil Ario
GenericName[he]=נגן המוסיקה Ario
GenericName[hr]=Ario glazbeni svirač
GenericName[hu]=Ario zenelejátszó
GenericName[id]=pemutar lagu Ario
GenericName[it]=Ario riproduttore musicale
GenericName[ja]=Ario ミュージックプレイヤ
GenericName[nb]=Ario musikkspiller
GenericName[nds]=Ario Musik afspeeler
GenericName[nl]=Ario muziekspeler
GenericName[oc]=Lector de musica Ario
GenericName[pl]=Odtwarzacz muzyki Ario
GenericName[pt]=Reprodutor de música Ario
GenericName[pt_BR]=Player de Música Ario
GenericName[ro]=Playerul de muzică Ario
GenericName[ru]=Музыкальный проигрыватель Ario
GenericName[sv]=Ario musikspelare
GenericName[th]=โปรแกรมเล่นเพลง Ario
GenericName[tr]=Ario müzik çalar
GenericName[uk]=Музичний програвач Ario
GenericName[vi]=Trình phát nhạc Ario
GenericName[zh_CN]=Ario 音乐播放器
GenericName[zh_HK]=Ario 播放器
GenericName[zh_TW]=Ario 音樂撥放器
Comment=Client application to mpd
Comment[ar]=تطبيق عميل لـmpd
Comment[ca]=Aplicació client a mpd
Comment[cs]=Klientská aplikace k mpd
Comment[da]=En MPD klient
Comment[de]=Client-Anwendung für MPD
Comment[en_AU]=Client application to mpd
Comment[en_CA]=Client application to mpd
Comment[en_GB]=Client application to mpd
Comment[eo]=Klienta programo al MPD
Comment[es]=Aplicación cliente de mpd
Comment[et]=Mpd kliendi rakendus
Comment[fi]=MPD-asiakassovellus
Comment[fr]=Client pour MPD
Comment[ga]=Feidhmoideas cliaint do mpd
Comment[he]=תוכנת לקוח ל-mpd
Comment[hr]=Klijent za mpd
Comment[hu]=Kliens alkalmazás az mpd-hez
Comment[id]=Aplikasi klien pada mpd
Comment[it]=Client mpd
Comment[ja]=MPD クライアントアプリケーション
Comment[nb]=Klientapplikasjon for MPD
Comment[nds]=Kunn Programm na mpd
Comment[nl]=Cliëntapplicatie voor mpd
Comment[oc]=Client per MPD
Comment[pl]=Klient mpd
Comment[pt]=Aplicação cliente para mpd
Comment[pt_BR]=Aplicativo cliente para mpd
Comment[ro]=Aplicația client la mpd
Comment[ru]=Приложение-клиент для mpd
Comment[sv]=Klientprogram för mpd
Comment[tr]=mpd için istemci uygulaması
Comment[uk]=Програма-клієнт для mpd
Comment[vi]=Ứng dụng khách của mpd
Comment[zh_CN]=mpd的客户端应用程序
Comment[zh_HK]=MPD用戶端
Comment[zh_TW]=mpd 用戶端
Exec=ario
Icon=ario
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Audio;

