/VMware-Horizon-Client-*.bundle
/horizon-client-linux-*-document.pdf
/horizon-client-linux-*-release-notes.html
/linux-client-installation.pdf
/horizon-client-linux-installation.pdf
/vmware-view-client-linux-*.tar.gz
/vmware-horizon-client-*.tar.zst
/vmware-horizon-client-for-linux-*-release-notes.pdf
/VMware-Horizon-Client-Linux-*.tar.gz
