clog
*.xz
*.bz2
*.rpm
*.orig
*.sign
kernel-[234].*/
/more-ISA-levels-and-uarches-for-kernel-*.patch
/agdf-*.patch
/algodev-*.patch
/configs/.flavors
/kernel-ark-*.patch
/kernel-git-*.patch
/kernel-stable-*.patch
/patchwork-*.patch
/pf-*.patch
/pf-*.pfpatch
/openSUSE-*.patch
/tkg-*.patch
/zzz-*.patch
/build/
/broot/
/kernel-headers/
/kernel-headers
/kernel-headers-chinfo/
/kernel-headers-chinfo
/kernel-headers-old/
/kernel-headers-old
