clog
*.xz
*.bz2
*.rpm
*.orig
*.sign
kernel-[234].*/
enable_additional_cpu_optimizations_for_gcc_v*+_kernel_v*+.patch
/agdf-*.patch
/algodev-*.patch
/kernel-git-*.patch
/kernel-stable-*.patch
/patchwork-*.patch
/pf-*.patch
/openSUSE-*.patch
/tkg-*.patch
/zzz-*.patch
/kernel-headers/
/kernel-headers
