[Unit]
Description=VirtualBox Web Service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/vboxwebsrv --pidfile /run/virtualbox/vboxweb.pid  --background
ExecStopPost=/usr/bin/rm -f /run/virtualbox/vboxweb.pid
PIDFile=/run/virtualbox/vboxweb.pid

[Install]
WantedBy=multi-user.target
