[Desktop Entry]
Name=Wine Internet Explorer
Comment=Wine Internet Explorer
Exec=wine iexplore
Icon=iexplore
Terminal=false
Type=Application
Categories=X-Wine;
