[Desktop Entry]
Name=Wine Internet Settings
Name[pt_BR]=Configurações de Internet do Wine
Comment=Wine Internet Settings
Exec=wine control inetcpl.cpl
Icon=iexplore
Terminal=false
Type=Application
Categories=X-Wine;
