[Desktop Entry]
Name=Wine Game Controllers
Name[pt_BR]=Controles de Jogos do Wine
Exec=wine control joy.cpl
Icon=joycpl
Terminal=false
Type=Application
Categories=X-Wine;
